.menu {
  padding: 2rem;
  background-color: $color-white;
  position: relative;
}

.menu__list {
  border: 0.1rem solid #8a8fa2;
  border-radius: 0.5rem;
}

.menu__link {
  display: block;
  padding: 1rem;
  font-size: 2.5rem;
  color: $color-gumbo;
  text-decoration: none;
  border-bottom: 0.1rem solid #8a8fa2;

  &:last-child {
    border: 0;
  }
}

.menu__label {
  padding: 0 1;
}

.menu__go-to {
  background-color: $color-pelorous;
  color: $color-white;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}